.screen-tracker {
  position: fixed;
  top: 40px;
  right: 25px;
  width: 20px;
  height: 700px;
  z-index: 9;
  margin-top: -30px;
}

.screen-tracker .node {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  border: thin solid #fff;
}

.screen-tracker .node .active-node {
  position: absolute;
  /*position: relative;*/
  border-radius: 10px;
  width: 10px;
  height: 10px;
  background-color: #FFFFFF;
}

.screen-tracker .node.featured {
  border-radius: 20px;
  width: 20px;
  height: 20px;
  margin-left: 0;
}
.screen-tracker .node.featured .active-node {
  border-radius: 20px;
  width: 20px;
  height: 20px;
}

.content-container {
  background: transparent url('') no-repeat 50% 50%;
  background-size: cover;
}

.home {
  background-image: url(../img/bghome.jpg)
}
